<!DOCTYPE html>
<html>
<head>
  <title>CantangoEditor</title>
  <%= stylesheet_link_tag    "cantango-editor/application" %>
  <%= javascript_include_tag "cantango-editor/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
