
a[href^="##"] { padding-right:14px !important; color:#888 !important;
background:url(/assets/cantango_editor/ico-uc.png) center right no-repeat; cursor:default; }

table {border-collapse: collapse;}
td {border: 0px solid #ccc; padding: 6px; }
th {font-size:24px; color:#aaa;}

