/* Highlight not-done links */
a[href^="##"] { 
  padding-right:14px !important; color:#888 !important;
  background:url(/assets/cantango_editor/ico-uc.png) center right no-repeat; cursor:default; 
}

/* Basic */

body
{
  background:url(/assets/cantango_editor/bg.gif);
  margin:40px;
}

a, a:link, a:visited {text-decoration:none; }
a:hover {text-decoration:none;}

/* Header */

.header {height:62px; background:url(/assets/cantango_editor/panel.gif); padding:0; min-width:900px;}
.header-l {height:62px; width:40px; float:left; background:url(/assets/cantango_editor/panel-l.gif) left;}
.header-r {height:62px; width:40px; float:right; background:url(/assets/cantango_editor/panel-r.gif) right;}
.header H1 {
  float:left; margin-top:21px;
  font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; font-size:18px; font-weight:normal;}
.header H1 a, .header H1 a:link, .header H1 a:visited {color:#fff; text-shadow:0 -1px 1px #525239;}
.header H1 a:hover {color:#ffffcc;}
.header H1 span a, .header H1 span a:link, .header H1 span a:visited  {color:#000; text-shadow:none;}
.header H1 span a:hover {color:#666;}

ul.topmenu {float:right; padding:0; list-style:none; margin-top:15px;}
ul.topmenu li {float:left; list-style:none; padding:0; padding-right:11px; height:31px;
background:url(/assets/cantango_editor/button-top-r.png) right no-repeat;
margin-left: 10px;}
ul.topmenu li a {
  display:block; height:20px; padding:7px 0 4px 11px; 
  background:url(/assets/cantango_editor/button-top.png) left no-repeat;
  color:#666633; text-shadow:0 1px 1px #e8e8cf;}
ul.topmenu li a:hover {color:#000;}

/* Footer */
.footer {
  height:50px;
  background:url(/assets/cantango_editor/line2.png) top repeat-x;
  padding-top:10px;
  margin-top:90px;
  }
.remember {
  background:url(/assets/cantango_editor/remember.png) repeat-x;
  padding:7px 10px;
  font-size:14px;
  color:#666633;
  text-shadow:0 1px 1px #f8f8e7;
  float:left;
}
.footer .logo {
  background:url(/assets/cantango_editor/cantangologo.png) top right no-repeat;
  height:50px; width:140px;
  float:right;
}
.logobig {
  background:url(/assets/cantango_editor/cantangologo_big.png) 0 0 no-repeat;
  height:95px; width:171px;
  //float:right;
  margin-top:20px;
}

.logobig2 {
  background:url(/assets/cantango_editor/cantangologo_big2.png) 0 0 no-repeat;
  height:95px; width:200px;
  //float:right;
  margin-top:20px;
}

.logobig3 {
  background:url(/assets/cantango_editor/cantangologo_big3.png) 0 0 no-repeat;
  height:95px; width:200px;
  //float:right;
  margin-top:20px;
}

/* Permissions table */
table {border-collapse: collapse;}
table .models_cell { width:350px;border:1px solid #eee; }
table .actions_cell { color:grey }



/* Structure */

.permissions_form {padding:0 40px;}

.inner {
  padding:10px;}
.wrapper {
  margin:1px 0;
  background:url(/assets/cantango_editor/line3.png) top repeat-x;
}
.wrapper H3 {
  margin-bottom:0; padding:10px 30px 15px; 
  font-size:18px; font-weight:normal;
  color:#fbfbc9;
  text-shadow:0 -1px 1px #6e6e5a;
  }
.wrapper H3.active {background:url(/assets/cantango_editor/+.png) 7px 11px no-repeat;}
.wrapper H3.inactive {background:url(/assets/cantango_editor/-.png) 7px 11px no-repeat;}
.wrapper H3 a, .wrapper H3 a:link, .wrapper H3 a:visited {color:#fff;}
.wrapper H3 a:hover {color:#ffffcc;}
.wrapper H3.active a, .wrapper H3.active a:link, .wrapper H3.active a:visited {color:#ffff99;}


.section_line_wr {margin-bottom:20px;}
.section_h_action {width:9%;//float:left; padding:1px; display:table-cell;}
.section_h_can, .section_h_cannot { display:table-cell;
  //float:left; 
  width:45%; text-align:center;
  padding:0 0 4px 0;
  color:#666633; text-shadow:0 1px 1px #e4e4cf;
  font-family:Tahoma; font-size:10px; font-weight:bold;
  text-transform:uppercase;
  letter-spacing:5px;}
  
.section_line {display:table; width:100%; margin-bottom:2px; min-width:800px;}
.section_line_action, .section_line_can, .section_line_cannot {
  border-radius: 7px;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  display:table-cell;
  padding:10px;
}
.section_line_null {display:table-cell; width:2px;}
.section_line_action {
  background:url(/assets/cantango_editor/bg_action.png);
  width:8,5%; //text-align:right; text-align:center; text-transform:uppercase; font-size:11px;
  text-shadow:0 1px 1px #e7e7c7; 
  vertical-align:middle;
   //margin:0 2px 2px 0; //float:left;}
.section_line_can {
  background:url(/assets/cantango_editor/bg_can.png);
  width:46%; //margin:0 2px 2px 0; //float:left;
  padding:10px;}
.section_line_cannot {
  background:url(/assets/cantango_editor/bg_cannot.png);
  width:45%; //margin-right:2px; //float:left;
  padding:10px;}


h2.permissions_type {
  margin:30px 0 22px 0;
  padding:15px 0 0;
  background:url(/assets/cantango_editor/line2.png) top repeat-x;
  font-size:24px;
  color:#000;
  text-shadow:0 1px 1px #ffffcc;
}

/* Content */


.delete_target_section {display:none;}
.delete_target_link {
  display:inline-block;
  width:16px;
  height:16px;
  background:url(/assets/cantango_editor/xx.png) 0 0 no-repeat;
  margin-bottom:-4px;
  margin-left:4px;
  margin-right:-6px;
}
.models_select_close_link {
  display:inline-block;
  width:16px;
  height:16px;
  background:url(/assets/cantango_editor/xx.png) 0 0 no-repeat;
  margin-bottom:-4px;
}
a.delete_target_link:hover,
a.models_select_close_link:hover {
  background:url(/assets/cantango_editor/xx.png) 0 -16px no-repeat;} 

.sexy_buttons {//visibility:hidden; opacity:0.3; margin-bottom:-10px;}
.new_target_link {}
.add_model {
  display:inline-block;
  height:19px; 
  width:50px;
  background:url(/assets/cantango_editor/sexy.png) 0 0 no-repeat;}
.add_category {
  display:inline-block; 
  height:19px; 
  width:60px;
  background:url(/assets/cantango_editor/sexy.png) -55px 0 no-repeat;}
.add_custom {
  display:inline-block; 
  height:19px; 
  width:53px;
  background:url(/assets/cantango_editor/sexy.png) -120px 0 no-repeat;}
.add_model:hover {background-position:0 -19px;}
.add_category:hover {background-position: -55px -19px;}
.add_custom:hover {background-position:-120px -19px;}

/* Targets representation */

.models_ololo {
  
}
.models_line {
  display:inline-block;
  color: #222;
  font-family:monospace;
  font-weight:bold;
  font-size:14px;
  line-height:22px;
  background:url(/assets/cantango_editor/bg-model.png) 0 0 repeat-x;
  //border:1px solid #aeae8d;
  margin:2px 0;
  padding:0 10px;
   border-radius: 16px;
  -moz-border-radius: 16px;
  -webkit-border-radius: 16px;}
  
.models_line .model_category {
  color: #555; font-style: italic;
  letter-spacing:3px;
  }
.models_line.first {}
.models_line.last {margin-bottom:5px;}

.model_regex_slash { color: #669900; font-size:18px; font-weight:bold; margin:0 2px;}

.model_relationship_equals { color: #ffcc00; font-size:18px; font-weight: bold; margin:0 2px; }
.model_relationship_sharp { color: #cc3333; font-size:18px; font-weight: bold; margin:0 2px;}

.model_ownership_sharp { color: #cc3333; font-size:18px; font-weight: bold; margin:0 2px;}
  
.new_target_area {}

input.models_select {
  margin:10px 0;
  width:300px;
  
   -moz-transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset;
    
    
   border: 1px solid #e9e9b4;
   background-color:#d5d5b8;
   border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
    color: #666;
    font-family:monospace;
    display: inline-block;
    font-size: 14px;
    height: 18px;
    line-height: 18px;
    padding: 4px;
    
}
input.models_select:focus {
  outline: 0;
  border-color: rgba(230, 230, 180, 0.8);
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(255, 255, 130, 0.6);
  -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(255, 255, 130, 0.6);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(255, 255, 130, 0.6);
}

.ui-selectmenu {
  margin:8px 0 12px;
}
.ui-widget {
    font-family: Trebuchet MS,Tahoma,Verdana,Arial,sans-serif;
    //font-size: 12px;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    background: url(/assets/cantango_editor/bg.gif) repeat scroll 50% 50% #F8F7F6;
    border: 1px solid #99997f;
    color: #654B24;
    font-weight: bold;
}
.ui-widget-content {
    background: url(/assets/cantango_editor/bg-2.gif) repeat scroll 50% 50% #F8F7F6;
    border: 1px solid #bbbb98;
    color: #1F1F1F;
}
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus {
  border: 1px solid #99997f; background: url(/assets/cantango_editor/bg-1.gif) repeat scroll 50% 50% #F8F7F6; 
font-weight: bold; color: #ffffff; }
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
  border: 1px solid #99997f; background: url(/assets/cantango_editor/bg-2.gif) repeat scroll 50% 50% #F8F7F6; 
  font-weight: bold; color: #140f06; }



