<div>
  <%= link_to "By models", by_models_index_permissions_path %>
  <%= link_to "By groups", by_groups_index_permissions_path %>
</div>
<div id="preview_links">
  <%= link_to "Preview how permissions really work!", "##" %>
  <%= link_to "Preview raw permissions.yml", preview_raw_permissions_path, :target => "_blank" %>
</div>
