<div class="header">
  <div class="header-l"></div>
  <h1><%= link_to app_name, main_app.root_path %> <span><%= link_to "Permissions", permissions_path %></span></h1>
  <div class="header-r"></div>
  <%= render :partial => 'menu' %>
</div>

