<div class="models_select_block">
  <%= text_field_tag "new_permissions", nil, {:name => "new_permissions[#{@ptype}][#{@pgroup}][#{@can_action}][#{@crud_action}][]", :class => "models_select"} %>
  
  <%= link_to "", "#", :class => "models_select_close_link" %>
</div>
