<%= render :partial => "menu" %>
<br/>

TODO:
<ul>
  <li>Validations - client- or server-side?</li>  
  <li>Extract loader from permissions - use it then by Permissions and Categories</li>
  <li>Categories - load from yml</li>
  <li>Configuration class proxying to Cantango's one</li>
  <li>Styles by @marixa</li>
  <li></li>

</ul>

???
1) Categories - Possible convention for categories (prefixed with "^"):<br/>
^complex_music - "Complex music" as its human readable alias! (#humanize)

