<div class="header">
  <div class="header-l"></div>
  <h1><%= link_to "Application_name", main_app.root_path %> <span><%= link_to "Permissions", permissions_path %></span></h1>
  <div class="header-r"></div>
  <%= render :partial => 'menu' %>
</div>

<br/>
<br/>

TODO:
<ul>
  <li>Validations - client- or server-side?</li>  
  <li>Extract loader from permissions - use it then by Permissions and Categories</li>
  <li style="text-decoration: line-through">Categories - load from yml</li>
  <li>Configuration class proxying to Cantango's one</li>
  <li style="text-decoration: line-through;">Styles by @mettta</li>
  <li>
    Categories - Possible convention for categories (prefixed with "^"): ^complex_music - "Complex music" as its human readable alias! (#humanize)
  </li>
</ul>


And here are possible Cantango logos (updated oct, 31's night ;))
<div class="logobig"></div><div class="logobig2"></div><div class="logobig3"></div>
